body {
  background: lightslategrey;
  font-family: 'Helvetica', Arial, sans-serif;
  color: #333;
  line-height: normal;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
}

/* TODO CONTAINER WITH TODO ITEMS */

.todo-container {
  display: flex;
  flex: row nowrap;
  align-items: flex-start;
}

.todo-dimension {
  border-radius: 3px;
  margin: 10px;
  width: 300px;
  background-color: lightgrey;
}

.todo-header {
  margin: 10px 10px -10px;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  color: black;
  text-align: center;
}

.todo-header:hover {
  color: white;
}

.todo-inner-scroll {
  padding: 0;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 0;
  max-height: 400px;
  overflow: scroll;
}

.todo-item {
  background: white;
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 3px;
}

.todo-item:hover {
  background: rgb(230, 230, 230);
}

.add-todo-button {
  display: block;
  font-size: 0.9em;
  padding: 10px;
  color: #8C8C8C;
  border: none;
  background-color: transparent;
}

.add-todo-button:hover {
  cursor: pointer;
  color: white;
}

/* TODO ITEM INNER STYLE */

.todo-title {
  margin-top: 0em;
  margin-bottom: 0em;
}

.todo-description {
  max-width: 60%;
  padding-right: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  font-size: x-small;
  color: grey;
  font-style: italic;
}

.todo-check {
  float: right;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.todo-check:hover input~.checkmark {
  background-color: #ccc;
}

.checkmark {
  float: right;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 3px;
}

.todo-date {
  text-align: right;
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: xx-small;
  color: grey;
  font-style: italic;
}

/* ADD CATEGORY BUTTON */

.add-category-button {
  margin: 10px;
  padding: 5px;
  background-color: darkgrey;
  /* height: 19px; */
  text-align: left;
  font-size: 0.9em;
  color: white;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.add-category-button:hover {
  background-color: white;
  cursor: pointer;
  color: #8C8C8C;
}

/* EDIT TODO ITEM POPUP FORM */

.popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-inner {
  border-radius: 5px;
  position: fixed;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 30%;
  margin: auto;
  background-color: lightgrey;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em;
}

.form {
  text-align: center;
}

.input-title[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid lightcoral;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  text-align: center;
}

.input-title[type=text]:focus {
  border: 3px solid red;
}

.input-description[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid lightcoral;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  text-align: center;
  margin-top: 1em;
}

.input-description[type=text]:focus {
  border: 3px solid red;
}

.date-input {
  margin: 8px 0;
  border: 3px solid lightcoral;
  max-width: 23.5%;
  display: inline-block;
}

.date-input:hover {
  border: 3px solid red;
}

.add-todo {
  height: 4em;
  width: 40%;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: lightcoral;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
  display: block;
  color: white;
}

.add-todo:hover {
  letter-spacing: 0.8em;
  background-color: red;
}

.close-edit {
  height: 4em;
  width: 50%;
  padding: 1.5em auto;
  margin: 10em auto;
  background-color: darkgrey;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
  display: block;
  color: white;
}

.close-edit:hover {
  letter-spacing: 0.8em;
  background-color: black;
}